// Body
$body-bg: #000000;

// Typography
$font-title: 'Faster One', cursive;
$font-text: 'Orbitron', sans-serif;

$font-family-sans-serif: $font-text;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Legacy-cars Colors
$lc-black: #000000;
$lc-grey : #090909;
$lc-white: #ffffff;
$lc-primary: #C00000;
$lc-secondary: #FF1919;

//Theming BootStrap
$primary: $lc-primary;
$secondary: $lc-secondary;
$dark: $lc-black;
$light: $lc-white;
