.title.sale{
    background-image: url(../../public/img/vendre-background.jpg);
}
.content.sale{


    .img-container{
        position: relative;
        border: 1px solid $lc-primary;
        .overflow{
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .close-icon{
            position: absolute;
            top: -12px;
            right: -12px;
            height: 24px;
            width: 24px;
            background-color: $lc-black;
            border-radius: 50%;
            color: $lc-primary;
            text-align: center;
            line-height: 18px;
            border: solid 1px $lc-primary;
            &:hover{
                border-color: $lc-secondary;
                color: $lc-secondary;
            }
            svg{
                width: 18px;
                height: 18px;
            }
        }
    }
}
