.title.sale{
    background-image: url(../../public/img/vendre-background.jpg);
}
.content.sale{
    .input-lc{
        margin-bottom: 4px;
        border: 1px solid $lc-primary;
        background-color: $lc-black;
        color: $lc-white;
        min-height: 40px;
        transform: skewX(15deg);
        font-style: italic;
        &::placeholder{
            color: #740000;
        }
        &:focus::placeholder{
            color: $lc-secondary;
        }
        &:focus{
            border: 1px solid $lc-secondary;
        }
        &.return{
            transform: skewX(-15deg);
            font-style: normal;
        }
    }

    .img-container{
        overflow: hidden;
        position: relative;
        border: 1px solid $lc-primary;
        img{
            width: 100%;
        }
        .close-icon{
            position: absolute;
            top: 8px;
            right: 8px;
            height: 36px;
            width: 36px;
            background-color: $lc-primary;
            border-radius: 50%;
            color: $lc-black;
            svg{
                width: 24px;
                height: 24px;
            }
        }
    }
}
